<html>
   <head>
      {% block head %}
         <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
         <title>Program Losujący - (Nie-)Totalizatora Sportowego {% block title %}{% endblock %}</title>
         <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
      {% endblock %}
   </head>
   <body>
      <div id="content">
         {% block content %}
         {% endblock %}
      </div>
   </body>
</html>
