<html>
   <head>
      {% block head %}
         <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
         <title>Program Losujący - (Nie-)Totalizatora Sportowego {% block title %}{% endblock %}</title>
         <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
      {% endblock %}
   </head>
   <body>
      <script>
         var isLoginPage = document.location.pathname === '/login';

         function hideFbBtn() {
            if( isLoginPage ) {
               document.getElementById('facebook').style.display = 'none';
            }
         }

         function showFbBtn() {
            if( isLoginPage ) {
               document.getElementById('facebook').style.display = 'inline';
            }
         }

         function logoutIfNeeded() {
            if( !isLoginPage ) {
               window.location = '/logout';
            }
         }

         function statusChangeCallback(response) {
            if (response.status === 'connected' && isLoginPage) {
               hideFbBtn();
               login();
            } else if (response.status === 'not_authorized') {
               console.log('Please log into this app on Facebook or provide login and password.');
               showFbBtn();
               logoutIfNeeded();
            } else {
               console.log('Please log into Facebook or provide login and password.');
               showFbBtn();
               logoutIfNeeded();
            }
         }

         // This function is called when someone finishes with the Login
         // Button.  See the onlogin handler attached to it in the sample
         // code below.
         function checkLoginState() {
            FB.getLoginStatus(function(response) {
               statusChangeCallback(response);
            });
         }

         window.fbAsyncInit = function() {
            FB.init({
               appId      : '145857779110294',
               xfbml      : true,
               version    : 'v2.5'
            });

            FB.getLoginStatus(function(response) {
               statusChangeCallback(response);
            });
         };

         (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
         }(document, 'script', 'facebook-jssdk'));

         function login() {
            console.log('Welcome!  Fetching your information...');
            FB.api('/me', function(response) {
               console.log(response);
               console.log('Successful login for: ' + response.name);
            });
         }
      </script>
      <div id="content">
         {% block content %}
         {% endblock %}
      </div>
   </body>
</html>
